    body {
        margin: 0px;
        padding: 0px;
    }
    
    .background {
        background-image: url("./img/banner-1.jpg");
        width: 100%;
        height: 869px;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .background .background-opacity {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient( -90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.0) 100%);
        top: 0px;
        right: 0px;
    }
    
    .outer-box {
        max-width: 1170px;
        width: 90%;
        margin: 0 auto;
    }
    
    .main-header {
        height: 100px !important;
    }
    
    .navbar .logo img {
        width: 126px;
    }
    
    .navbar-nav li a {
        font-size: 17px;
        line-height: 30px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
        opacity: 1;
        color: #fff !important;
    }
    
    .navbar .active {
        color: #FF7C5B !important;
        line-height: 30px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
        opacity: 1;
        color: #fff;
    }
    
    .navbar-collapse {
        flex-grow: inherit !important;
    }
    
    .menu-right-content button {
        width: 56px;
        height: 56px;
        background-color: #f2f0f0;
        border-radius: 50%;
        border: inherit;
        cursor: pointer;
        box-shadow: 0px 15px 25px 0px rgb(255 124 91 / 40%);
        transition: all 500ms ease;
    }
    
    .menu-right-content .icon i {
        font-size: 20px;
    }
    
    .menu-right-content .icon:hover {
        background-color: #FF7C5B;
        color: #fff !important;
    }
    
    .menu-right-content .icon-user {
        font-size: 20px !important;
        margin-left: 5px;
    }
    /* banner-section */
    
    .banner-section {
        padding: 116px 0px 0px 0px;
        width: 100%;
        z-index: 1000;
        position: relative;
    }
    
    .banner-section .content-box h2 {
        font-size: 70px;
        color: #fff;
        margin: 0px 0px 29px;
        font-weight: 700;
        font-family: 'Playfair Display', serif;
    }
    
    .banner-section .content-box p {
        font-size: 20px;
        color: #fff;
        margin: 0px 0px 43px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
    }
    
    .form-inner {
        padding: 20px;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 6px;
    }
    
    .form-group {
        margin-right: 20px;
    }
    
    .form-group input {
        width: 286px;
        height: 64px;
        background: #fff;
        border-radius: 5px;
        padding: 10px 25px;
        font-size: 15px;
        font-weight: 500;
        color: #848484;
        transition: all 500ms ease;
    }
    
    .form-group .form-select {
        width: 286px;
        height: 64px;
        background: #fff;
        border-radius: 5px;
        padding: 10px 25px;
        font-size: 15px;
        font-weight: 500;
        color: #848484;
        transition: all 500ms ease;
    }
    
    .form-group button {
        position: relative;
        width: 211px;
        height: 64px;
        background: #fff;
        overflow: hidden;
        border-radius: 5px;
        padding: 10px 25px;
        font-size: 15px;
        font-weight: 500;
        background-color: #FF7C5B;
        transition: all 500ms ease;
        border: inherit;
        z-index: 1;
        /* box-shadow: 0px 15px 25px 0px rgba(255, 124, 91, 0.3);
    transition: all 500ms ease; */
    }
    
    .form-group button:hover {
        background: #061a3a;
    }
    
    .form-group button::before {
        transition-duration: 800ms;
        position: absolute;
        width: 200%;
        height: 200%;
        content: "";
        top: 100%;
        left: 50%;
        background: #061a3a;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        border-radius: 50%;
        z-index: -1;
    }
    
    .form-group button:hover::before {
        top: -40%;
    }
    
    .form-group button i {
        margin-right: 10px;
        color: #fff;
        font-size: 17px;
    }
    
    .form-group button p {
        line-height: 25px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
    }
    
    .pattern-layer {
        bottom: 0px;
        width: 100%;
        height: 95px;
        background-size: cover;
        background-repeat: repeat-x;
        background-image: url("./img/shape-1.png");
        animation: slide 100s linear infinite;
        -webkit-animation: slide 100s linear infinite;
    }
    
    @keyframes slide {
        from {
            background-position: 0 0;
        }
        to {
            background-position: 1920px 0;
        }
    }
    /* feature-section */
    
    .feature-section {
        background: #f5f6f6;
        padding: 144px 0px 150px 0px;
    }
    
    .feature-section .feature-middle .sec-title p {
        font-size: 17px;
        line-height: 28px;
        color: #808080;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 2px;
    }
    
    .feature-section .feature-middle .sec-title h2 {
        font-size: 50px;
        line-height: 60px;
        font-family: 'Playfair Display', serif;
        color: #061a3a;
        font-weight: 900;
        margin: 0px 0px 42px;
    }
    
    .feature-middle .card {
        width: 270px;
        height: 303px;
        border: none;
        background-color: transparent;
        border-radius: 11px;
        overflow: hidden;
        box-shadow: 0px 15px 25px 0px rgb(0 0 0 / 8%);
        /* box-shadow: -1px 7px 15px 19px rgb(0 0 0 / 9%), 0px 8px 9px 0px rgb(0 0 0 / 10%); */
    }
    
    .feature-middle .card-body {
        padding: 60px 15px 25px;
    }
    
    .feature-middle .card-body h4 {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        font-family: 'Work Sans', sans-serif;
    }
    
    .icon-box {
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        width: 80px;
        height: 80px;
        line-height: 80px;
        background: #fff;
        text-align: center;
        border-radius: 50%;
        box-shadow: 0px 15px 20px 0px rgb(0 0 0 / 6%);
    }
    
    .icon-box img {
        width: 50px;
    }
    
    .card .img::before {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        display: block;
        content: '';
        width: 0;
        height: 0;
        background: rgba(255, 255, 255, .2);
        border-radius: 0%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
    }
    
    .card .img:hover::before {
        -webkit-animation: circle .95s;
        animation: circle .95s;
    }
    
    @-webkit-keyframes circle {
        0% {
            opacity: 1;
        }
        40% {
            opacity: 1;
        }
        100% {
            width: 200%;
            height: 200%;
            opacity: 0;
        }
    }
    
    @keyframes circle {
        0% {
            opacity: 1;
        }
        40% {
            opacity: 1;
        }
        100% {
            width: 200%;
            height: 200%;
            opacity: 0;
        }
    }
    /* about-section */
    
    .about-section {
        height: 950px;
        padding: 150px 0px 120px 0px;
    }
    
    .about-section .shape-bottom {
        right: 50px;
        bottom: 90px;
        width: 276px;
        height: 346px;
    }
    /* images-box */
    
    .shape .shape-2 {
        top: 10%;
        width: 276px;
        height: 346px;
    }
    
    .shape .shape-3 {
        top: 10%;
        left: 22%;
        width: 102px;
        height: 96px;
    }
    
    .about-1 {
        background: #fff;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 20px 50px 0px rgb(0 0 0 / 20%);
        z-index: 10000;
        position: relative;
        width: 410px;
        height: 410px;
        margin-left: 115px;
    }
    
    .about-2 {
        background: #fff;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 20px 50px 0px rgb(0 0 0 / 20%);
        width: 300px;
        height: 220px;
        margin-top: 60px;
    }
    
    .about-2 .video-content {
        margin-left: 50px;
    }
    
    .about-2 .video-content h3 {
        font-size: 22px;
        line-height: 28px;
        font-weight: 700;
        margin-bottom: 13px;
        width: 198px;
        font-family: 'Work Sans', sans-serif;
    }
    
    .about-2 .video-content i {
        font-size: 60px;
        color: #FF7C5B;
    }
    /* text-box */
    
    .text-box {
        padding: 0px 0px 0px 40px !important;
    }
    
    .title {
        margin-bottom: 26px;
    }
    
    .text-box .title p {
        color: #808080;
        font-size: 17px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 2px;
    }
    
    .text-box .title h2 {
        font-size: 50px;
        line-height: 60px;
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        width: 77%;
    }
    
    .text-box .text {
        font-family: 'Work Sans', sans-serif;
        color: #808080;
        font-weight: 400;
        margin: 0px;
    }
    
    .text-box ul li {
        list-style: none;
        font-size: 16px;
        color: #808080;
        font-family: 'Work Sans', sans-serif;
        margin: 0px 0px 8px;
    }
    
    .text-box ul {
        margin-bottom: 32px;
    }
    
    .text-box ul .checkmark {
        font-size: 20px;
        font-weight: bold;
        color: #000;
    }
    
    .text-box .btn-box {
        padding: 17.5px 41.5px;
        border-radius: 4px;
        width: 170px;
        height: 60px;
        background-color: #FF7C5B;
        position: relative;
        z-index: 1;
        overflow: hidden;
        transition: all 500ms ease;
    }
    
    .text-box .btn-box a {
        font-size: 17px;
        line-height: 25px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
        color: #fff !important;
        text-align: center;
        text-decoration: none;
    }
    
    .text-box .btn-box:hover {
        background: #061a3a;
    }
    
    .text-box .btn-box::before {
        transition-duration: 800ms;
        position: absolute;
        width: 200%;
        height: 200%;
        content: "";
        top: 100%;
        left: 50%;
        background: #061a3a;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        border-radius: 50%;
        z-index: -1;
    }
    
    .text-box .btn-box:hover::before {
        top: -40%;
    }